/* start custom scss snippet */
body {
    font-family: 'Nanum Barun Gothic', serif;
}
details > details {
    margin-left: 10px;
}
.button--secondary, .button--secondary:link, .button--secondary:visited {
    color: #fff;
    background-color: rgba(252,77,80,0.4);
}
.button--secondary:hover {
    background-color: rgba(252,77,80,0.5);
}
/* end custom scss snippet */
