/* start custom scss snippet */
body {
    font-family: 'Nanum Barun Gothic', serif;
}
details > details {
    margin-left: 10px;
}
.button--secondary, .button--secondary:link, .button--secondary:visited {
    color: #333;
    background-color: #ffdfd0;
}
/* end custom scss snippet */
